.maincontainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
                        'header1 header2'
                        'verbruik overzicht';                     
}

.header1{
    display: grid;
    grid-area: header1;
    background-color: #00aa65;
    color:black;
}
.header2{
    display: grid;
    grid-area: header2;
    background-color: #00aa65;
    color:black;
}

.energyForm {
    display: grid;
    grid-area: verbruik;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:                     
                        'energyusage costs';
    /* grid-gap: 50px; */
    margin-left: 2rem;
    background-color: #cceee0;
}

.energyInput {
    display: grid;
    grid-area: energyusage;
    grid-auto-columns: 60% 30% 10%;
    grid-template-areas: 'period input submit';
    /* justify-content: left; */
}

.period {
    grid-area: period;
}


.energyUsage {
    width: 20px;
    grid-area: input;
    /* justify-content: left; */
}

div.submit {
    grid-area: submit;
    /* justify-content: end; */
}

.input {
    grid-area: input;
    /* justify-content: left; */
}
.energyCosts {
    grid-area: overzicht;
}