.energyForm {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
                        'header header header'
                        'energyusage costs overig';
    
    /* grid-gap: 50px; */
    border: 2px solid rgb(230, 173, 226);
    margin-left: 2rem;
    background-color: #eff5f3;
}

.energyInput {
    display: grid;
    grid-area: energyusage;
    grid-auto-columns: auto auto auto;
    grid-template-areas: 'period input submit';
}

.period {
    grid-area: period;
}


.energyUsage {
    width: 20px;
    grid-area: input;
}

.submit {
    grid-area: submit;
}